<%- include(`../partials/header`) %>
<h2>Login to your account</h2>
<div class="message">
    <% if(locals.message) {%> <%= message %><% } %>
</div>
<form action="/auth/login" method="post">
    <label for="user-name">User Name:</label>
    <input id="user-name" type="text" name="userName" required <% if (locals.userName) {%> value="<%= userName %>" <% } %> > 
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" required>
    <button>Login</button>
</form>
<%- include(`../partials/footer`) %>