</main>
<footer>
    <p class="footer-text">
        Images originating from Asmodee, Asmodee North America, or any Asmodee owned entity, are © Asmodee. 
        All logos, images, and content originating from Asmodee are trademarks of Asmodee. Images and trademarks used without permission. 
        This website is unofficial and is not endorsed by Asmodee. <br>
        For information and resources about the Marvel Champions: The Card Game, please follow this <a class="footer-link" href="https://www.fantasyflightgames.com/en/products/marvel-champions-the-card-game/">link</a>. <br>
        Marvel: Champions Game Logger was designed and built by Joshua Corthorne.
    </p>
</footer>
</body>
</html>