<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/main.js"></script>
    <title>MCGL</title>
</head>
<body>
    <header>
        <h1>Marvel Champions Game Logger</h1>
        <nav>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/games">Browse Games</a>
            <% if (user !== null) {%>
                <a class="nav-link" href="/games/new">Log a Game</a>
                <a class="nav-link" href="/auth/logout">Logout</a>
            <% } else { %>
                <a class="nav-link" href="/auth/login">Login</a>
                <a class="nav-link" href="/auth/signup">Signup</a>
            <%} %>
        </nav>
        <hr>
    </header>
    <main>