<%- include(`../partials/header`) %>
<div class="error">
    <h2>Error 404 - Page not found</h2>
    <p class="error-text">Oh dear! We couldn't find the page you're looking for.</p>    
</div>
<%- include(`../partials/footer`) %>
