<%- include(`../partials/header`) %>
<div class="error">
    <h2>Error 500 - Internal Server Error</h2>
    <p class="error-text">Oh no! Something broke. Please try agian later.</p>    
</div>
<%- include(`../partials/footer`) %>