<%- include(`../partials/header`) %>
<div class="delete">
    <h2>Delete <%= campaign.campaignName  %></h2>
    <p class="delete-text">Are you sure you wish to delete this campaign log?</p>
    <section class="button-section">
        <form action="/campaigns/<%= campaign._id %>?_method=delete" method="post">
            <button>Delete</button>
        </form>
        <form  action="/campaigns">
            <button>Cancel</button>
        </form>    
    </section>    
</div>
<%- include(`../partials/footer`) %>