<label>
    Current Reputation
    <input type="number" name="currentReputation">
</label>
<h4>Experimental Attachments:</h4>
<fieldset class="campaign-widget checkboxes">
    <input id="laser-rifle" type="checkbox" name="experimentalAttachments" value="Laser Rifle">
    <label for="laser-rifle">Laser Rifle</label>
    <input id="energy-shield" type="checkbox" name="experimentalAttachments" value="Energy Shield">
    <label for="energy-shield">Energy Shield</label>
    <input id="power-gaunts" type="checkbox" name="experimentalAttachments" value="Power Gauntlets">
    <label for="power-gaunts">Power Gauntlets</label>
    <input id="exo-suit" type="checkbox" name="experimentalAttachments" value="Exo-Suit">
    <label for="exo-suit">Exo-Suit</label>
</fieldset>