<h3>Defeated Side Missions:</h3>
<% campaign.campaignInformation.defeatedSideMissions.forEach( (card) => { %> <%=
card %> <% }) %>
<h3>Defeated Overseer Minions:</h3>
<% campaign.campaignInformation.defeatedOverseerMinions.forEach( (card) => { %>
<%= card %> <% }) %>
