<%- include(`../partials/header`) %>
<h2>Create a new game log</h2>
<form action="/games" method="post">
    <label>
        Game Name:
        <input type="text" name="gameName" required>
    </label>
    <label>
        Date Played:
        <input type="date" name="datePlayed" required>
    </label>
    <label>
        Scenario:
        <input type="text" name="scenario" required>
    </label>
    <label>
    <section class="player-section">
        <button type="button" class="add-player">Add a player</button>
    </section>
    <label>
        The players:
        <select name="wonGame">
            <option value="true">Won</option>
            <option value="false">Lost</option>
            <option class="hidden" value="" selected></option>
        </select>
    </label>
    <label>
        Notes:
        <textarea type="" name="notes"></textarea>
    </label>
    <button>Log Game</button>
</form>
<%- include(`../partials/footer`) %>